* {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}

textarea#input {
    width: 400px;
}

ul#list-data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

ul#list-data li {
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.3s;
}

ul#list-data li:hover {
    opacity: 1;
    color: #0331fd;
    font-size: 17px;
}

form#all-input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    width: 300px;
    background: #f1f1f1;
    padding: 10px 5px;
    margin-bottom: 5px;
    outline: none;
    border: none;
    transition: 0.3s;
}

input:focus {
    background: #d2d4ed;
}
input:hover {
    background: #eaeaf1;
}

input#answer {
    background: #cfe3cc;
    border: none;
    outline: none;   
}
input#answer:hover{
    background: #eaeaf1;
}

input#answer:focus {
    background: #d2d4ed;
}


#submit {
    padding: 10px 27px;
    background: #2a4e4e;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

input#submit:hover{
    background: #69e6e6;
    color: #000;
}

button#add {
    margin-left: 45%;
    margin-right: 40%;
    padding: 10px 27px;
    background: #0e5ded;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}
button#add:hover{
    background: #4CAF50
}

.list-item {
    width: 100%;
    border-bottom: 1px dotted #000;
    text-align: center;
}